@import './colors';
@import './helpers';
@import './mixins';
@import './variables';

@import './components';
@import './elements';
@import './form';
@import './layout';

$background-color: #b3b3b3;

html, body {
    margin: 0px;
    background-color: $background-color;
}

.test {
    padding: 25px 40px;
    border: none;
    border-radius: 12px;
    outline: none;
    @include getClickableRaised(6, $background-color);
}