@import '../variables';
@import '../mixins';
@import '../colors';

.button {
    padding: 15px 20px;
    font-size: 1.2rem;
    border-radius: 8px;
    outline: none;
    border: none;

    &:not(:disabled) {
        @include getClickableRaised(3, #CCCCCC);

        &.is-danger {
            @include getClickableRaisedBackground($red);
        }
    }

    &:disabled {
        border: 1px solid #999999;
        background-color: transparent;
        cursor: not-allowed;
    }
}