@import '../variables';
@import '../mixins';
@import '../colors';

.button {
    padding: 0.75rem 20px;
    font-size: 1rem;
    line-height: 1.2rem;
    border-radius: 8px;
    border: none;
    outline: none;
    overflow: hidden;
    color: white;
    text-shadow: 0px 0px 4px white;

    &:not(:disabled) {
        @include getClickableRaised($button_depth);

        &.is-info {
            @include getClickableRaisedBackground($aqua);
            color: white;
        }
        &.is-success {
            @include getClickableRaisedBackground($green);
            color: white;
        }
        &.is-danger {
            @include getClickableRaisedBackground($red);
            color: white;
        }
        &.is-warning {
            @include getClickableRaisedBackground($orange);
            color: white;
        }
    }

    &.is-small {
        padding: 8px 14px;
        &.is-rounded {
            border-radius: 18px;
        }
    }
    &.is-large {
        padding: 20px 28px;
        &.is-rounded {
            border-radius: 30px;
        }
    }
    &.is-rounded {
        border-radius: 25px;
    }

    &:disabled {
        border: 2px solid #999999;
        background-color: transparent;
        color: #999999;
        cursor: not-allowed;
    }
}