@use 'sass:color';
@import '../variables';
@import '../mixins';
@import '../colors';

.input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    line-height: 1rem;
    border: 0px;
    color: #333333;
    outline: none;

    &:not(:disabled) {
        @include getRaised($input_depth * -1);
        background-color: white;
        cursor: text !important;

        &.is-error {
            @include getRaisedBorder($input_depth, $red);
            background-color: color.scale($red, $lightness: 65%);
            border-color: color.scale($red, $lightness: 1%);
        }
    }

    &:disabled {
        border: 2px solid #999999;
        background-color: transparent;
        color: #cccccc;
        cursor: not-allowed;
    }

    &.is-rounded {
        border-radius: 23px;
    }
}